models/
!models/.gitkeep
workspace1/
!workspace1/.gitkeep
dotcontinue1/
!dotcontinue1/.gitkeep
!dotcontinue1/config.yaml

workspace2/
!workspace2/.gitkeep
dotcontinue2/
!dotcontinue2/.gitkeep
!dotcontinue2/config.yaml
